input[type=email], 
input[type=password], 
input[type=text], 
input[type=telephone], 
input[type=submit],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--mid-gray-color);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 15px;
    width: 100%;
}

input[type="submit"] { 
  cursor: pointer
}

fieldset {
  border: none;
  padding: 0;
}

.headertext {
  color: white;
  font-size: 3em;
}