---
title: Service Offerings
linkTitle: Services
menu:
  main:
    weight: 20
---


{{< blocks/cover title="Service Offerings" image_anchor="bottom" height="min" >}}
{{< /blocks/cover >}}


{{< blocks/section  color="white" >}}

<div class="col-12">
<h1 class="text-center">World-class Puppet experts</h1>
</div>

<div class="col-md-12">
  <img src="/propuppet.jpg" width="200" alt="Pro Puppet Cover Image" id="book" />
  <p>
    As former founding members of Puppet Inc.'s professional services team, we
    have a combined 25+ years of experience designing, implementing, and
    managing Puppet deployments at scale. You might know us from the talks
    we've delivered at Puppetconfs/Puppetcamps, the public/private training
    courses we've presented, online answering questions in channels on the <a
    href="https://puppetcommunity.slack.com/">Puppet Community Slack</a>, or
    even as a co-author of the <a
    href="https://www.amazon.com/Pro-Puppet-Spencer-Krum/dp/1430260408">Pro
    Puppet book</a>, but we'd love to get to know more about you and your Puppet
    goals!
  </p>
</div>

{{< /blocks/section >}}

{{< blocks/section  color="primary" >}}
<div class="col-12">
<h1 class="text-center">Puppet Services</h1>
</div>

{{% blocks/feature icon="fa fa-cloud" title="Puppetserver Optimization" %}}
Whether it's 1 or 10,000 Puppetservers, we have assisted customers in diagnosing
service degradation and moving past memory errors. Our data-driven approach
to optimization will surface the metric data you need to be proactive about
the health of your fleet and avoid putting out fires.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-code" title="Module Development" %}}
We specialize in Puppet code development of all sizes: net-new
module creation, complex multi-team solutions, custom Puppet plugins,
type/provider development, legacy code audits, and everything else in-between.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-check" title="Staff Augmentation & Support" %}}
Need a team member with day-to-day Puppet experience but having a hard time finding them?
Have a specific Puppet problem and need an opinion from some folks with experience?
<a href="#contact">Contact us and let's talk!</a>
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section color="dark" >}}
<div class="col-12">
<h1 class="text-center">Consulting Services</h1>
</div>
{{% blocks/feature icon="fa-cloud" title="Cloud Architecture" %}}
Moving your private datacenter workloads to the cloud? We're here to help with our experience building automation tools for Google Cloud Platform and Amazon Web Services.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-thin fa-circle-nodes" title="Puppet Consulting" url="https://github.com/google/docsy-example" %}}
Our world-class professionals have 25+ years of combined Puppet experience and are able to help you through any Puppet module, infrastructure, scaling, or project needs.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-gears" title="Delivery Pipelines" url="https://twitter.com/docsydocs" %}}
We're here to help design and implement your software delivery pipeline. We specialize in unit testing, integration testing, packaging, and deployment to production.
{{% /blocks/feature %}}

{{< /blocks/section >}}


<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Open Infrastructure Services</h2>
        <h3 class="section-subheading text-muted">
          Let us know about your automation goals!
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button type="submit" class="btn btn-xl">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

